* {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    
    border-radius: 50%;
    background-color: white;
    padding: 25px;
    box-shadow: 0 0 10px #888888;
  }
  
  .description {
    text-align: center;
    margin-top: 20px;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .feature-box {
    width: calc(33.33% - 20px);
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px #888888;
    margin-bottom: 20px;
  }
  
  .feature-box h3 {
    margin-top: 0;
  }
  
  .thank-you {
    text-align: center;
    margin-top: 20px;
  }
  .sidebar {
    margin: 1rem;
    padding: 10rem;
    background-color: #e8e8e8;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  